<!DOCTYPE html>
<html>
<head>
	<title>Directives</title>
	<script src="angular.min.js"></script>
</head>
<body ng-app>
	<center>
		<h1>Directives</h1>
		<div>
			<p>
				{{ 10 + 15 }} <br>
				{{ "Hello" + "Friends" }} <br>
				{{ 100 * 43 }}
			</p>
		</div>

		<div ng-init="r=50; pi=3.14">
			<p>Circumference of a Circle of radius 50 is {{ 2 * pi * r }}</p>
			<p>Circumference of a Circle : <span ng-bind="2*pi*r"></span></p>
		</div><br>

		<div>
			<label>Course : </label>
			<input type="text" ng-model="course">
			<p>Course Name : {{course}}</p>
		</div>

		<div ng-init="array=[500,505,510,520]">
			<ul>
				<li ng-repeat="z in array">{{ z }}</li>
			</ul>
		</div>

		<div ng-init="checked=true">
			<label>New User :</label>
			<input type="checkbox" ng-model="checked">
		</div>
	</center>
</body>
</html>